@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #000;
}
input {
  margin: 0;
  padding: 0;
  border: 0;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  min-width: 350px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  /* 头部开始 */
  /* 底部开始 */
}
.container .mm_header {
  width: 100%;
  height: 2rem;
  background-color: #FF841D;
  position: relative;
}
.container .mm_header .back {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
}
.container .mm_header .mm_logo {
  width: 100%;
  height: 50%;
  display: block;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}
.container .mm_header .mm_logo img {
  display: block;
  width: 3.71rem;
  height: 0.5rem;
}
.container .mm_header .mm_download {
  width: 0.68rem;
  height: 0.68rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.17rem;
  margin-right: 0.17rem;
}
.container .mm_header .mm_download img {
  display: block;
  width: 0.68rem;
  height: 0.68rem;
}
.container .mm_header .mm_search {
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding: 0.2rem;
}
.container .mm_header .mm_search input {
  display: block;
  width: 5.7rem;
  height: 0.6rem;
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  background-color: #F1F1F1;
  float: left;
}
.container .mm_header .mm_search .search_btn {
  display: block;
  width: 1.25rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.32rem;
  border-radius: 0.3rem;
  background-color: #FF841D;
  color: #fff;
  float: right;
}
.container .mm_footer {
  background-color: #F1F1F1;
  width: 100%;
}
.container .mm_footer .f_title {
  width: 100%;
  height: 0.7rem;
  padding: 0 0.1rem;
  background-color: #FF841D;
  line-height: 0.7rem;
  font-size: 0.32rem;
  color: #fff;
  position: relative;
}
.container .mm_footer .f_title a {
  position: absolute;
  display: block;
  top: 0.15rem;
  right: 0.1rem;
}
.container .mm_footer .f_title a img {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}
.container .mm_footer .f_nav {
  width: 100%;
  height: 0.7rem;
  margin-top: 0.5rem;
  border-top: 2px solid #C2C2C2;
  border-bottom: 2px solid #C2C2C2;
  background-color: #fff;
}
.container .mm_footer .f_nav ul {
  background-color: #F1F1F1;
}
.container .mm_footer .f_nav ul li {
  width: 30%;
  float: left;
  border-right: 2px solid #C2C2C2;
}
.container .mm_footer .f_nav ul li:last-child {
  width: 40%;
  border-right: none;
}
.container .mm_footer .f_nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.26rem;
  line-height: 0.66rem;
  font-weight: bold;
  text-align: center;
}
.container .mm_footer .f_nav ul li a#backTop img {
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: text-bottom;
}
.container .mm_footer .f_link {
  margin-top: 30px;
  background-color: #F1F1F1;
}
.container .mm_footer .f_link p {
  color: #999;
  text-align: center;
  line-height: 1.38em;
}
.container .mm_footer .f_link p:first-child {
  font-size: 0.24rem;
}
.container .mm_footer .f_link p:first-child span:first-child {
  color: red;
}
.container .mm_footer .f_link p:first-child span:last-child {
  color: #000;
}
.container .mm_footer .f_link p:last-child {
  margin-top: 0.1rem;
}
.container .mm_header {
  height: 1rem;
}
.container .mm_header h3 {
  line-height: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
}
.container .mm_content {
  width: 100%;
  padding: 0.2rem;
  background-color: #fff;
}
.container .mm_content .pro_title {
  width: 100%;
  margin-top: 0.1rem;
  font-size: 0.4rem;
  text-align: left;
  line-height: 1.2em;
}
.container .mm_content .pro_flag {
  font-size: 0.24rem;
  margin-top: 0.2rem;
  height: 0.24rem;
  color: #ccc;
}
.container .mm_content .pro_textImg {
  margin-top: 0.2rem;
}
.container .mm_content .pro_textImg .img {
  float: right;
}
.container .mm_content .pro_textImg .text {
  font-size: 0.3rem;
  line-height: 1.38em;
}
.container .mm_content .bigImg {
  width: 100%;
  margin-top: 0.2rem;
}
.container .mm_content .bigImg img {
  width: 100%;
}
.container .mm_content .proCity {
  text-align: center;
}
.container .mm_content .proCity li a {
  display: block;
  width: 2.75rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 auto;
  border-bottom: 1px dashed #FF841D;
}
.container .mm_content .proCity li a span {
  width: 100%;
  height: 100%;
  display: block;
  text-align: left;
}
.container .mm_content .proCity li a span strong {
  color: #FF841D;
  float: right;
  margin-left: 0.2rem;
}
.container .mm_content .toBuy {
  width: 100%;
  height: 0.6rem;
  padding: 0 0.2rem;
  margin-top: 0.2rem;
}
.container .mm_content .toBuy a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  font-size: 0.3rem;
  line-height: 0.6rem;
  color: #fff;
  text-align: center;
  background-color: #FF841D;
}
.container .mm_content .code {
  width: 100%;
  margin-top: 0.9rem;
}
.container .mm_content .code img {
  display: block;
  width: 100%;
}
.container .mm_content .comment {
  width: 100%;
  margin-top: 0.6rem;
}
.container .mm_content .comment .tit {
  font-size: 0.34rem;
  line-height: 1.38em;
}
.container .mm_content .comment .form {
  margin-top: 0.25rem;
  border: 2px solid #ccc;
}
.container .mm_content .comment .form textarea {
  height: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.container .mm_content .comment .form .ctrl {
  overflow: hidden;
  background-color: #ccc;
}
.container .mm_content .comment .form .ctrl input {
  width: 2rem;
  border: none;
  line-height: 0.7rem;
  display: block;
  float: right;
  background-color: #FF841D;
  font-size: 34px;
  color: #fff;
  text-align: center;
}
.container .mm_content .comment #newcomment {
  margin-top: 0.2rem;
}
.container .mm_content .comment ul li {
  margin-top: 0.2rem;
  overflow: hidden;
}
.container .mm_content .comment ul li .userimg {
  float: left;
}
.container .mm_content .comment ul li .userimg img {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}
.container .mm_content .comment ul li .con {
  padding: 0.1rem;
  overflow: hidden;
}
.container .mm_content .comment ul li .con .name {
  font-size: 0.3rem;
  line-height: 1.38em;
  overflow: hidden;
}
.container .mm_content .comment ul li .con .name .username {
  float: left;
  color: blue;
}
.container .mm_content .comment ul li .con .name .time {
  float: right;
}
.container .mm_content .comment ul li .con .content {
  font-size: 0.3rem;
  line-height: 1.38em;
}
.container .mm_content .bigImg {
  width: 100%;
  margin-top: 0.2rem;
}
.container .mm_content .bigImg img {
  width: 100%;
  max-width: 2rem;
}
