@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #000;
}
input {
  margin: 0;
  padding: 0;
  border: 0;
}
p {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  min-width: 350px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  background-color: #fff;
  /* 头部开始 */
  /* 底部开始 */
}
.container .mm_header {
  width: 100%;
  height: 2rem;
  background-color: #FF841D;
  position: relative;
}
.container .mm_header .back {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.6rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
}
.container .mm_header .mm_logo {
  width: 100%;
  height: 50%;
  display: block;
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}
.container .mm_header .mm_logo img {
  display: block;
  width: 3.71rem;
  height: 0.5rem;
}
.container .mm_header .mm_download {
  width: 0.68rem;
  height: 0.68rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.17rem;
  margin-right: 0.17rem;
}
.container .mm_header .mm_download img {
  display: block;
  width: 0.68rem;
  height: 0.68rem;
}
.container .mm_header .mm_search {
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding: 0.2rem;
}
.container .mm_header .mm_search input {
  display: block;
  width: 5.7rem;
  height: 0.6rem;
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  background-color: #F1F1F1;
  float: left;
}
.container .mm_header .mm_search .search_btn {
  display: block;
  width: 1.25rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.32rem;
  border-radius: 0.3rem;
  background-color: #FF841D;
  color: #fff;
  float: right;
}
.container .mm_footer {
  background-color: #F1F1F1;
  width: 100%;
}
.container .mm_footer .f_title {
  width: 100%;
  height: 0.7rem;
  padding: 0 0.1rem;
  background-color: #FF841D;
  line-height: 0.7rem;
  font-size: 0.32rem;
  color: #fff;
  position: relative;
}
.container .mm_footer .f_title a {
  position: absolute;
  display: block;
  top: 0.15rem;
  right: 0.1rem;
}
.container .mm_footer .f_title a img {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}
.container .mm_footer .f_nav {
  width: 100%;
  height: 0.7rem;
  margin-top: 0.5rem;
  border-top: 2px solid #C2C2C2;
  border-bottom: 2px solid #C2C2C2;
  background-color: #fff;
}
.container .mm_footer .f_nav ul {
  background-color: #F1F1F1;
}
.container .mm_footer .f_nav ul li {
  width: 30%;
  float: left;
  border-right: 2px solid #C2C2C2;
}
.container .mm_footer .f_nav ul li:last-child {
  width: 40%;
  border-right: none;
}
.container .mm_footer .f_nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.26rem;
  line-height: 0.66rem;
  font-weight: bold;
  text-align: center;
}
.container .mm_footer .f_nav ul li a#backTop img {
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: text-bottom;
}
.container .mm_footer .f_link {
  margin-top: 30px;
  background-color: #F1F1F1;
}
.container .mm_footer .f_link p {
  color: #999;
  text-align: center;
  line-height: 1.38em;
}
.container .mm_footer .f_link p:first-child {
  font-size: 0.24rem;
}
.container .mm_footer .f_link p:first-child span:first-child {
  color: red;
}
.container .mm_footer .f_link p:first-child span:last-child {
  color: #000;
}
.container .mm_footer .f_link p:last-child {
  margin-top: 0.1rem;
}
.container .mm_header h3 {
  line-height: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
}
.container .mm_product .productNav {
  height: .75rem;
  border-top: .02rem solid #ccc;
  border-bottom: .02rem solid #ccc;
  position: relative;
}
.container .mm_product .productNav ul {
  width: 100%;
  float: left;
}
.container .mm_product .productNav ul li {
  height: 100%;
  float: left;
}
.container .mm_product .productNav ul li:after {
  content: '>';
}
.container .mm_product .productNav ul li:last-child:after {
  content: '';
}
.container .mm_product .productNav ul li a {
  line-height: .71rem;
  font-size: 0.26rem;
}
.container .mm_product .productNav .select {
  width: 1.25rem;
  height: 0.55rem;
  position: absolute;
  top: 0.1rem;
  right: 0.15rem;
  border-radius: 0.1rem;
  line-height: 0.55rem;
  font-size: 0.26rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 0rem 0.02rem 0.02rem 0.02rem #999;
}
.container .mm_product .proInfo {
  width: 100%;
  background-color: #fff;
}
.container .mm_product .proInfo h3 {
  padding: 0 0.4rem;
  margin: 0.4rem 0;
  text-align: center;
}
.container .mm_product .proInfo img {
  display: block;
  margin: 0.2rem auto;
}
.container .mm_product .proInfo .allImgs {
  position: relative;
}
.container .mm_product .proInfo .allImgs .joinCart {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  position: absolute;
  right: 1rem;
  bottom: 0;
}
.container .mm_product .proInfo .tab {
  width: 100%;
  height: 0.6rem;
  border-top: 0.01rem solid red;
  border-bottom: 0.01rem solid red;
}
.container .mm_product .proInfo .tab a {
  float: left;
  display: block;
  width: 33.33%;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  border-right: 0.01rem solid red;
  background-color: #FFC831;
  font-size: 0.3rem;
  color: #fff;
}
.container .mm_product .proInfo .tab a.current {
  background-color: #FF9914;
}
.container .mm_product .proInfo .tab a:last-child {
  border-right: none;
}
.container .mm_product .proInfo table {
  margin-top: 0.2rem;
}
.container .mm_product .proInfo table td a img {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
}
.container .mm_product .proInfo table td:nth-child(2) a {
  font-size: 0.32rem;
}
.container .mm_product .proInfo table td.red {
  color: red;
  font-size: 0.32rem;
}
.container .mm_product .proInfo .tips {
  width: 100%;
  height: 1.1rem;
  padding: 0.1rem;
  border-top: 0.01rem solid #999;
  border-bottom: 0.1rem solid #999;
}
.container .mm_product .proInfo .tips p {
  line-height: 1.38em;
  font-size: 0.26rem;
}
.container .mm_product .comments {
  width: 100%;
  background-color: #fff;
}
.container .mm_product .comments .c_title {
  width: 100%;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  background-color: #ccc;
  color: #000;
  font-size: 0.26rem;
}
.container .mm_product .comments ul {
  width: 100%;
}
.container .mm_product .comments ul li {
  width: 100%;
  border-bottom: 0.01rem solid #ccc;
}
.container .mm_product .comments ul li .user_time,
.container .mm_product .comments ul li .origin,
.container .mm_product .comments ul li .c_content {
  padding: 0.1rem;
}
.container .mm_product .comments ul li .user_time {
  width: 100%;
  height: 0.3rem;
  line-height: 0.3rem;
  margin-top: 0.3rem;
}
.container .mm_product .comments ul li .origin {
  margin-top: 0.1rem;
  text-align: right;
}
.container .mm_product .comments .showMore {
  width: 90%;
  height: 0.85rem;
  line-height: 0.85rem;
  margin: 0.5rem;
  background-color: #E1E1E1;
  text-align: center;
  font-size: 0.30rem;
}
